main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 2%;
  }

.project_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    animation: fade-in ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
    overflow-x: hidden;
    max-width: 100%;
}

#name{
    font-weight: bold;
    font-size: x-large;
    margin: 1%;
}
#project_header{
    display: flex;
    max-width: 95%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0%;

}

#project_details {
    display: flex;
    /* flex-direction: column; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0% 5%;
    margin-bottom: 50px;
    font-size: large;
    overflow-x: hidden;
    width: 40%;
    height: 100%;
    background-color:#0087ca0b  ;
    border-radius: 2%;
    
}
#project_points{
    padding: 3%;
}


.project_links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    height: 25px;
    
    
}
.project_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
   
    font-size: 100%;
    margin: 0% 3%; 
    padding: 5%;
    border-radius: 25px;
    text-align: center;
    transition: font-size 0.2s;
    background-color: #0087ca1f;
    color: #002245;

}



.project_link:hover{
    font-size: 105%;
  }
  
.link_name{
    margin: 5px ;
    width: 70px;
}

#scroll_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;

}

#project_image_scroll {
    margin: 5%;
    /* display: flex; */
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

#project_image_scroll::-webkit-scrollbar {
    display: none; 
  }

#project_image {
    scroll-snap-align: center;
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    margin:0;
    vertical-align:top;
    
  }

#scroll_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }


#scroll_buttons button{
    margin: 1%;
    padding: 1%;
    font-size: large;
    font-weight: bold;
    background-color: #0087ca;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s;
}

#scroll_buttons button:hover{
    background-color: #002245;
}
#scroll_dot{
    width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
    font-weight: bolder ;
    font-size: xx-large;
    color: #0087ca;
    margin: 0 50px;
    
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
      
}



@media only screen and (max-width: 1500px) {
    
    #project_header {
      display: flex;
      flex-direction: column;
    }
    #scroll_container{
        width: 90%;
    }
    #project_details {
      width: 90%;
      margin-top: 5%;
      padding: 10px;
    }
  }
