@font-face{
    src: url('fonts/RobotoSlab-Light.ttf');
font-family: RobotoSlab_light;}

@font-face{
    src: url('fonts/RobotoSlab-Regular.ttf');
font-family: RobotoSlab_regular ;}

@font-face{
    src: url('fonts/RobotoSlab-Regular.ttf');
font-family: RobotoSlab_thin ;}
body {
    background-color: #e6f2f7;
    color: #002245;
    font-family:  RobotoSlab_regular,Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;

}


header {
    height:  20%;
    font-family: RobotoSlab_light;
    position: -webkit-sticky;
    position: sticky;   
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 10px ; 
    z-index: 1000;
}



/* Sets style for navigation buttons on top left */
.nav_buttons {
    display: flex;
    color: #002245;
    align-items: center;
    margin-left: 1%;
    padding: 10px 10px 5px; 
    position: relative;

}

/* Sets the properties for hyper links */
a{
    text-decoration: none;
    color: #002245;
    
}

a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #002245;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #002245;
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
}

.active{
    font-weight: bold;    
}

/* Sets the style for main part of the body */
main {
    display: flex;
    height:  50%;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-top: 15px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#my_image{
    height : 200px;
    width : 200px;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 50%;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-left:  5%;
}

.description_2{
    margin: 5% 0 5% 0;
}


#name{
    font-weight: bold;
    font-size: x-large;}


