@font-face{
    src: url('fonts/RobotoSlab-Light.ttf');
font-family: RobotoSlab_light;}

@font-face{
    src: url('fonts/RobotoSlab-Regular.ttf');
font-family: RobotoSlab_regular ;}

@font-face{
    src: url('fonts/RobotoSlab-Regular.ttf');
font-family: RobotoSlab_thin ;}
body {
    background-color: #e6f2f7;
    color: #002245;
    font-family:  RobotoSlab_regular,Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    
}

header {
    height:  20%;
    font-family: RobotoSlab_light;
    position: -webkit-sticky;
    position: sticky;   
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 10px ; 
    z-index: 1000;
}



/* Sets style for navigation buttons on top left */

.nav_container{
    display: flex;
    margin-left: 12%;
}
.nav_buttons {
    display: flex;
    color: #002245;
    align-items: center;
    margin-left: 5%;
    padding: 10px 10px 5px; 
    position: relative;

}

/* Sets the properties for hyper links */
a{
    text-decoration: none;
    color: #002245;
    
}

a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #002245;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: #002245;
}

.active::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
}

.active{
    font-weight: bold;    
}

/* Sets the style for main part of the body */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:5%;
}
.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    animation: fade-in ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#my_image{
    height : 200px;
    width : 200px;
    margin-top: 20px;
    margin-right: 50px;
    border-radius: 50%;
  
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-top: 20px;
    /* margin-left:  5%; */
}

.detail{
    /* padding: 10px; */
    margin: 10px 30px;
}

#name{
    font-weight: bold;
    font-size: x-large;
}

.featured_projects{
    text-align: center;
    margin-top: 100px;
    height:  50%;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
    animation: 0.25s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -10%;
  }
  to {
    margin-left: 0%;
  }
}

.project_list{
    display: flex;
    flex-direction: column;
    width: 50%;
    border-radius: 10px;
    margin-top: 10px;
    
}

.project{
    display: flex;
    flex-direction: row;

    justify-content:center;
  
    border-radius: 10px;
    margin: 1%;
    background-color: #0087ca13;
    
}

.project_title{
    margin: 10%;
}
#project_image{
    height : 200px;
    width : 200px;
    margin: 5%;
 
}

