@font-face {
  src: url("fonts/RobotoSlab-Light.ttf");
  font-family: RobotoSlab_light;
}

@font-face {
  src: url("fonts/RobotoSlab-Regular.ttf");
  font-family: RobotoSlab_regular;
}

@font-face {
  src: url("fonts/RobotoSlab-Thin.ttf");
  font-family: RobotoSlab_thin;
}

body {
  background-color: #e6f2f7;
  color: #002245;
  font-family: RobotoSlab_regular,  sans-serif;
  display: flex;
  flex-direction: column;
}

header {
  height: 20%;
  font-family: RobotoSlab_light, sans-serif;
  /* position: -webkit-sticky;
    position: sticky;   
    top: 0; */
  display: flex;
  flex-direction: row;
  padding: 10px;
  z-index: 1000;
}

/* Sets style for navigation buttons on top left */

.nav_container {
  display: flex;
  margin-left: 15%;
  margin-top: 1%;
  width: 100%;
}
.nav_buttons {
  display: flex;
  color: #002245;
  align-items: center;
  margin: 0% 0.5%;
  padding: 8px;
  position: relative;
}

/* Sets the properties for hyper links */
a {
  text-decoration: none;
  color:inherit;
}

.nav_item::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #002245;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav_item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: #002245;
}

.active::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
}

.active {
  font-weight: bold;
}

/* Sets the style for main part of the body */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 5%;
}
.intro {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  animation: fade-in ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#my_image {
  height: 200px;
  width: 200px;
  margin: 20px, 5px;
  border-radius: 50%;
  background-image: url("images/meLowRes.jpg");
  background-size: 100% 100%;
  background-position: center; 
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.details {
  margin: 10px 30px;
}

#name {
  font-weight: bold;
  font-size: x-large;
}

.project_grid {

  width: 75%;
  display: grid;
  grid-template-columns: 47.5% 47.5%;
  gap: 5%;
  margin-top: 5%;
}

.fig1{
    background-image: url("projects/hexapod/images/src_img_LowRes.jpg");
}
.fig2{
    background-image: url("projects/vtol/images/src_img_LowRes.jpg");
}
.figure {
  width: 100%;
  height: auto;
  max-height: 100%; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  aspect-ratio: 4/3;
  border-radius: 10px;
  align-items: center;
  justify-content:end;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-size: 100% 100%;
  background-position: center; 
  transition: background-size 0.2s;}

.figure:hover{
    background-size: 110% 110%;; 
}

.figure:hover .project_description_home{
    visibility: visible;
    animation:  0.25s slide-up;
}
@keyframes slide-up {
  from {
    margin-bottom: -5%;
  }
  to {
    margin-bottom: 0%;
  }
}
.project_description_home {
    visibility: hidden;
    text-align: center;
    width: 100%;
    background-color:rgba(240, 248, 255, 0.7);
    padding: 2%;
}

.custom_button{
  font-size: 110%;
  font-family: RobotoSlab_light, sans-serif;
  font-weight: bold;
  padding: 1%;
  margin: 5%;
  border: #0087ca solid ;
  background-color:#0087ca0b  ;
  border-radius: 30px;
  transition: font-size 0.2s;
}

.custom_button:hover{
  font-size: 120%;
} 

@media only screen and (max-width: 700px) {
  .header {
    display: flex;
    flex-direction: row;
  }
  .nav_container {
    display: flex;
    margin-left: 0%;
    margin-top: 1%;
    justify-content: center;
  }
  .nav_buttons {
    margin: 0% 2%;
  }
  .project_grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin-bottom: 5%;
    justify-self: stretch;
  }
  .project_description_home{
    visibility: visible;
    font-size:80%;
}


}



